header , #balls {
  text-align: center;
}

.ball {
  border-radius: 100%;
  display: inline-block;
  margin: 40px 20px;
}

#answer {
  font-size: 25px;
}

.ball , #score {
  border: solid black 1px;
  height: 50px;
  width: 50px;
}

#score {
  margin: 10px;
  display: inline-block;
  text-align: center;
}
